PROJECT_NAME=community-dashboard-management-system
PROJECT_TEMPLATE=management
PROJECT_STACK=react-springboot
PROJECT_DATABASE=mysql

BACKEND_PORT=18080
FRONTEND_PORT=13000

DB_HOST=db
DB_TYPE=mysql
DB_PORT=3306
DB_HOST_PORT=53306
DB_USER=student_factory
DB_PASSWORD=mysql
DB_NAME=community_dashboard_management_system_db
DB_SQLITE_PATH=./data/community-dashboard-management-system.sqlite
DB_MONGO_URI=mongodb://db:27017/community-dashboard-management-system_db

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=12h

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123
